---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Icon } from 'astro-icon/components';

const { frontmatter } = Astro.props;
const { minutesRead } = Astro.props.frontmatter;
---
<BaseLayout pageTitle={frontmatter.title}>
  <div class="post-header">
    <h1>{frontmatter.title}</h1>
    <div>
      <p style="display: flex; justify-content: center;">
        {frontmatter.pubDate.toString().slice(0,10)}
      </p>
      <Icon name="mdi:language-markdown-outline" class="icon" />
      , Author: {frontmatter.author}
      , {minutesRead}
    </div>
    <div class="tags">
      <Icon name="mdi:tag-multiple-outline" class="icon" />
      {frontmatter.tags.map((tag: string) => (
        <p class="tag">#<a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
  </div>
  <slot />
</BaseLayout>

<style>
  .post-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
  }

  .tag {
    margin: 0;
    font-size: 0.75em;
    border: 2px solid var(--color-border);
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: var(--color-card-bg);
    transition: all 0.2s ease;
  }

  .tag:hover {
    border-color: var(--color-accent);
    transform: translateY(-2px);
  }

  .tag a {
    color: var(--color-text);
    text-decoration: none;
  }

  .tag:hover a {
    color: var(--color-accent);
  }
</style>